/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  background-image: url('../images/background.jpg');
  font-size: 16px;
}
p.subtitle {
  font-size: 20px;
}
hr {
  border-top: 1px solid #F8D073;
}
.pad-bottom20 {
  padding-bottom: 20px !important;
}
.pad-bottom25 {
  padding-bottom: 25px !important;
}
.pad-bottom30 {
  padding-bottom: 30px !important;
}
.pad-bottom35 {
  padding-bottom: 35px !important;
}
.pad-bottom40 {
  padding-bottom: 40px !important;
}
.pad-top20 {
  padding-top: 20px !important;
}
.pad-top25 {
  padding-top: 25px !important;
}
.pad-top30 {
  padding-top: 30px !important;
}
.pad-top35 {
  padding-top: 35px !important;
}
.pad-top40 {
  padding-top: 40px !important;
}
.underline {
  text-decoration: underline;
}
.bold {
  font-weight: bold;
}
.gold {
  color: #F8D073;
}
.left-align {
  text-align: left !important;
}
.show-xs,
.show-sm,
.show-md,
.show-lg {
  display: none;
}
.button {
  border-radius: 100px;
}
.button.gold {
  border-color: #F8D073 !important;
}
.button.gold.button-primary {
  background-color: #F8D073 !important;
  text-shadow: 1px 1px 6px #7f5b06;
}
.button.gold.button-primary:hover {
  background-color: #f5bc39 !important;
}
.button.gold.button-negative {
  border: 2px solid #F8D073 !important;
  color: #F8D073 !important;
  background-color: none !important;
}
.button.gold.button-negative:hover {
  border: 2px solid #fadd9a !important;
  color: #fbe4ad !important;
}
.button.white {
  border-color: white !important;
}
.button.white.button-negative {
  color: white !important;
  background-color: none !important;
}
/* Sections
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.social-media-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media-wrapper.social-media-top {
  display: block;
  text-align: right;
  justify-content: right;
  align-items: right;
  position: absolute;
  top: 10px;
  right: 5%;
  color: white;
  z-index: 1000;
}
.social-media-wrapper.social-media-top i {
  padding: 10px;
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 150ms;
}
.social-media-wrapper.social-media-top i:hover {
  margin-top: -3px;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}
.social-media-wrapper.social-media-top a {
  color: white;
}
.social-media-wrapper i {
  padding: 10px;
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 150ms;
}
.social-media-wrapper i:hover {
  margin-top: -3px;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}
.social-media-wrapper a {
  color: #F8D073;
}
.header h1.bandname {
  font-family: 'Oswald', sans-serif;
  position: absolute;
  top: 10px;
  left: 11%;
  color: white;
  font-weight: 400;
  text-shadow: 1px 1px 6px #000000;
}
.header.bandphoto {
  background-image: url('../images/bandphoto_horizontal.jpg');
  background-size: cover;
  position: relative;
}
.header .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.2;
  transition: 0.5s ease;
  background-color: #7F2008;
  overflow: hidden;
}
.section {
  padding: 8rem 0 7rem;
  color: white;
  text-align: center;
}
.section.hero {
  text-align: left;
}
.section.latest {
  background: transparent !important;
  text-align: left;
}
.section.past-posts {
  padding: 3rem 0 2rem;
}
.section.past-posts .section-heading {
  color: white;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}
/* Hero
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.album {
  display: inline-block;
  margin-top: 10px;
  width: 100%;
  max-width: 300px;
  -webkit-box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.55);
  border: 1px solid #fdf1d4;
}
/* past-posts
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.past-posts {
  color: #fff;
  padding-bottom: 5rem;
}
.past-post-multiplier {
  margin-bottom: 0.5rem;
  color: #F8D073;
}
.past-post-heading {
  margin-bottom: 0.3rem;
}
.past-post-description {
  opacity: 0.8;
  font-weight: 300;
}
/* Get in Touch or Contact
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-in-touch {
  border-bottom: none;
}
/* Social media Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.social-media {
  border-bottom: 1px solid #F8D073;
}
/* Categories
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  color: #fff;
}
.categories .section-description {
  margin-bottom: 4rem;
}
/* Responsiveness
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Small viewports up to 550px */
@media (max-width: 550px) {
  .hide-xs {
    display: none !important;
  }
  .show-sm,
  .show-md,
  .show-lg {
    display: none !important;
  }
  .show-xs {
    display: block !important;
  }
  p {
    font-size: 1.5rem;
  }
  p.subtitle {
    font-size: 1.8rem;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  h1.bandname {
    left: 15px !important;
  }
  .social-media-wrapper.social-media-top {
    right: 5px !important;
    font-size: 14px;
  }
  .social-media-wrapper.social-media-top i {
    padding: 10px 7px;
  }
  .album {
    max-width: 150px;
    margin-bottom: 1rem;
  }
  .bandphoto {
    padding: 8rem 0 7rem;
    min-height: 100px;
  }
  .section {
    padding: 12rem 0 11rem;
  }
  .section.latest {
    padding: 0;
    margin-top: -8rem;
    text-align: center;
  }
  .section.latest .latest-text .subtitle {
    margin-bottom: 1.5rem;
  }
  .section.latest .latest-button {
    margin-top: 0 !important;
  }
  .section.past-posts {
    padding: 1rem 0 1rem;
  }
  .section.past-posts .section-heading {
    font-size: 2.5rem;
  }
  .section.past-posts .past-post-heading {
    font-size: 2rem;
    padding-bottom: 0;
    margin-top: 2.5rem;
  }
  .section.past-posts .past-post-description {
    margin-bottom: 1rem;
  }
  .section.get-in-touch,
  .section.social-media {
    padding: 3rem 0 2rem;
  }
}
/* Bigger than 550px */
@media (min-width: 550px) {
  .hide-sm {
    display: none !important;
  }
  .show-xs,
  .show-md,
  .show-lg {
    display: none !important;
  }
  .show-sm {
    display: block !important;
  }
  hr {
    margin-top: 0;
  }
  p {
    font-size: 1.5rem;
  }
  p.subtitle {
    font-size: 1.8rem;
  }
  h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  .social-media-wrapper.social-media-top {
    right: 7% !important;
    font-size: 15px;
  }
  .social-media-wrapper.social-media-top i {
    padding: 10px 7px;
  }
  .section {
    padding: 12rem 0 11rem;
  }
  .section.latest {
    padding: 0 0 3rem;
    margin-top: -10rem;
  }
  .section.latest .latest-text {
    margin-top: 1rem;
  }
  .section.past-posts {
    padding: 1rem 0 1rem;
  }
  .section.past-posts .section-heading {
    font-size: 2.5rem;
    text-align: left;
    padding-bottom: 1rem;
  }
  .section.past-posts .past-post-heading {
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  .section.get-in-touch,
  .section.social-media {
    padding: 3rem 0 2rem;
  }
  .bandphoto {
    min-height: 165px;
  }
  .hero,
  .bandphoto {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
}
/* Bigger than 750 , size "md"*/
@media (min-width: 750px) {
  .hide-md {
    display: none !important;
  }
  .show-xs,
  .show-sm,
  .show-lg {
    display: none !important;
  }
  .show-md {
    display: block !important;
  }
  p {
    font-size: 1.5rem;
  }
  p.subtitle {
    font-size: 2rem;
  }
  .social-media-wrapper.social-media-top {
    right: 5% !important;
    font-size: 16px;
  }
  .social-media-wrapper.social-media-top i {
    padding: 10px;
  }
  h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
  }
  h1.bandname {
    left: 10% !important;
  }
  .hero,
  .bandphoto {
    height: 120px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .section.latest {
    padding: 0 0 5rem;
    margin-top: -14rem;
  }
  .section.latest .latest-text {
    margin-top: 2rem;
  }
  .section.past-posts {
    margin-top: 0;
    padding-top: 0;
  }
  .section.past-posts .section-heading {
    padding-bottom: 4rem;
  }
  .section.get-in-touch,
  .section.social-media {
    padding: 4rem 0 5rem;
  }
  .hero,
  .bandphoto {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}
/* Bigger than 1000 */
@media (min-width: 1000px) {
  .hide-lg {
    display: none !important;
  }
  .show-xs,
  .show-sm,
  .show-md {
    display: none !important;
  }
  .show-lg {
    display: block !important;
  }
  p {
    font-size: 1.5rem;
  }
  p.subtitle {
    font-size: 2.5rem;
  }
  .social-media-wrapper.social-media-top {
    right: 4% !important;
    font-size: 14px;
  }
  .social-media-wrapper.social-media-top i {
    padding: 10px;
  }
  h1 {
    margin-bottom: 2rem;
    font-size: 5.5rem;
  }
  h1.bandname {
    left: 5% !important;
  }
  .section {
    padding: 20rem 0 19rem;
  }
  .section.latest {
    padding: 0 0 7rem;
    margin-top: -20rem;
  }
  .section.latest .latest-text {
    margin-top: 3rem;
  }
  .section.past-posts {
    margin-top: 0;
    padding-top: 0;
  }
  .section.past-posts .section-heading {
    padding-bottom: 4rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .bandphoto {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3rem;
  }
}
